* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

button {
  font-family: inherit;
  cursor: pointer;
}
